<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>Preguntas</title>
<<<<<<< HEAD
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' 
      media="only screen and (min-width: 530px) and (min-device-width: 481px)" href='/stylesheets/wide.css' />
    <link rel='stylesheet' 
=======
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <link rel='stylesheet' type="text/css" 
      media="only screen and (min-width: 530px) and (min-device-width: 481px)" href='/stylesheets/wide.css' />
    <link rel='stylesheet' type="text/css" 
>>>>>>> 6153b1fad6b9412cd438fa5b8155ae5ec64facfa
      media="only screen and (max-width: 480px)" 
      href='/stylesheets/smartphone.css' />
  </head>

  <body>
    <div id="page-wrap">
      <header class="main" id="h1">
<<<<<<< HEAD
        <h2>Quiz: el juego de las preguntas</h2>
=======
        <h2>Ejercicio P2P obligatorio del módulo 6 por: Miguel Ruiz</h2>
>>>>>>> 6153b1fad6b9412cd438fa5b8155ae5ec64facfa
      </header>

      <nav class="main" id="n1" role="navigation">
        <span><a href="/">Inicio</a></span>
<<<<<<< HEAD
        <span><a href="/quizes">Preguntas</a></span>
=======
        <span><a href="/quizes/question">Preguntas</a></span>
        <span><a href="/quizes/author">Créditos</a></span>
>>>>>>> 6153b1fad6b9412cd438fa5b8155ae5ec64facfa
      </nav>

      <section class="main" id="s1">
      <%- body %>
      </section>

      <footer class="main" id="f1">
      <a href="http://es.wikipedia.org/wiki/Quiz">
        ¿Qué es un Quiz?</a>
<<<<<<< HEAD
=======

      <p>Link a mi proyecto en GITHUB: 
        <a href="https://github.com/miguelweb2014/quiz_p2p">quiz_p2p</a>
      </p>
>>>>>>> 6153b1fad6b9412cd438fa5b8155ae5ec64facfa
      </footer>
    </div>
  </body>
</html>