<<<<<<< HEAD
        <p><%= respuesta %>
        <a href="/quizes/<%= quiz.id %>">Volver</a>
        </p>
=======
        <p><%= respuesta %> <p>
        <a href="/quizes/question">Inténtelo de nuevo</a>
>>>>>>> 6153b1fad6b9412cd438fa5b8155ae5ec64facfa
